automium==0.2.6
automium-web==0.1.1
Click==7.0
coverage==5.0.1
Django==2.2.7
django-extensions==2.2.5
djangorestframework==3.10.3
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
Flask==1.1.1
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.10.3
legacy==0.1.6
MarkupSafe==1.1.1
psycopg2-binary==2.8.4
PyJWT==1.7.1
python-decouple==3.3
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
Werkzeug==0.16.0
